body{
	font-family: Helvetica, sans-serif;
	margin: 0;
	background-color: grey;
	font-size: 15px;
	line-height: 30px
}

header{
	padding: 60px;
	background-color: lightgrey;
	text-align: center;
}

h1, h2{
	font-family: 'Coda Caption', sans-serif;
	font-size: 30px;

}

header img{
	width: 500px;
	border-radius: 270px;
	border: 10px solid darkgoldenrod;
}

main{
	background-color: lightgrey;
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

a{
	color: darkgoldenrod;
	font-style: italic;
}

a:hover{
	background-color: yellow;
	color: black;
}

footer{
	background-color: lightgrey;
	text-align: center;
	padding: 20px;
	margin: 0;
}

p.caption{
	color: grey;
	font-style: italic;
}